.quarto-title-block .quarto-title-banner {
  background-image: url(DCRLogo.jpg);
  background-size: 150px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 0px;
  background-origin: content-box;
}
