.quarto-title-block .quarto-title-banner {
  background-image: url(ub_Logo_english_2019_RGB_wb.png);
  background-size: 300px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 0px;
  background-origin: content-box;
}
